django-bootstrap4==24.1
django-celery-beat==2.6.0
django-debug-toolbar==4.3.0
django-filter==2.3.0
django-grappelli==3.0.8
django-oss-storage==1.1.1
django-prometheus==2.3.1
django-python3-ldap==0.15.6
django-ranged-response==0.2.0
django-ratelimit==3.0.1
django-redis==4.12.1
django-registration-redux==2.13
django-simple-captcha==0.6.0
django-timezone-field==6.1.0
djangorestframework==3.15.1
celery==5.3.6
flower==2.0.1
ldap3==2.9.1